<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<style>
    .but {
        width: 80px;
        padding: 8px;
        background-color: green;
        color: #fff;
        border-radius: 10px;
        text-align: center;
        vertical-align: middle;
        font-weight: 900;
    }
    #logout:visited {
        color: #fff;
    }
    .but:hover {
        cursor: pointer;
    }
</style>
<link rel="stylesheet" href="../../static/dhl.css">
<link rel="icon" href="../../static/Icons/trans3.ico">
<body>
<ul id="nav">
    <li><a th:href="@{/books/toIndex}">首页</a></li>
    <li><a th:href="@{/books/tpAddPage}">添加图书</a></li>
    <li><a th:href="@{/books/toUpdatePage}">更新图书</a></li>
</ul>
<div class="but" style="background-color: black;right:2%;top:12%;position: absolute">
    <a th:href="@{/user/logout}" id="logout" style="text-decoration: none">注销</a>
</div>
<table style=" border:0">
    <tr>
        <th style="width:2000px; height:150px; border:1px;">
            <center>
                <table>
                    <th style="font-size: 50px;color: #fd7e14">图书管理系统</th>
                </table>
            </center>
        </th>
    </tr>
</table>
<center>
    <div>本项目的主旨在于方便学校里的图书馆管理人员进行图书管理,给同学们创造更加舒适的阅读环境氛围.。</div>
    <br>
    <div>该项目运用了SpringBoot+Mybatis-plus的框架，同时运用了jQuery + Vue的技术在前端进行构建页面，以MySQL作为数据库进行网页的搭建</div>
    <div style="margin-top: 50px">
        <img src="../../static/img/library.jpg" alt="">
    </div>
    <div style="position: fixed;bottom: 0;left: 50%;right: 50%;width: 100px">&copy;由XXX制作</div>
</center>
</body>
</html>