<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<style>

    .inp {
        margin-top: 40px;
    }
</style>
<link rel="stylesheet" href="../static/dhl.css">
<link rel="stylesheet" href="../static/dhl.css">
<body style="margin: 0">
<!--<ul id="nav">
    <li><a th:href="@{/books/toIndex}">首页</a></li>
    <li><a th:href="@{/books/tpAddPage}">添加图书</a></li>
    <li><a th:href="@{/books/toUpdatePage}">更新图书</a></li>
</ul>-->
<table style=" border:0">
    <tr>
        <th style="width:1500px; height:150px; border:1px;">
            <center>
                <table>
                    <th style="font-size: 50px;color: #fd7e14">图书管理系统</th>
                </table>
            </center>
        </th>
    </tr>
</table>
<center>
    <div id="login" style="font-weight: bolder;width: 700px;height: 480px;border: 1px black solid;border-radius: 2%">
        <form action="/user/loginCheck" method="POST">
            <div><img src="../static/img/index_logo.jpg" alt="图书馆" style="border-radius: 30%;width: 150px;height: 150px"
                      class="inp"></div>
            <div>账号：<input type="text" class="inp" id="user" name="username"></div>
            <div>密码：<input type="password" class="inp" id="passwprd" name="password"></div>
            <div><input type="submit" value="登录" class="inp"></div>
            <div class="inp"><a th:href="@{/user/register}" style="text-decoration: none;color: red">还没有账号？点击我来注册一个</a>
            </div>
        </form>
        <P th:text="${LOGIN_ERROR_MESSAGE}"></P>
    </div>
</center>
<div style="position: fixed;bottom: 0;left: 50%;right: 50%;width: 100px">&copy;由XXX制作</div>

</body>
</html>
<script type="text/javascript" src="../static/jquery-3.5.1.min.js"></script>
