<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.books.mapper.BookMapper">
    <resultMap id="BookMapper" type="com.example.books.pojo.TbBook">
        <id column="book_id" jdbcType="BIGINT" property="bookId"/>
        <id column="book_name" jdbcType="VARCHAR" property="bookName"/>
        <id column="book_msg" jdbcType="VARCHAR" property="bookMsg"/>
        <id column="book_stock" jdbcType="BIGINT" property="bookStock"/>
        <id column="book_number" jdbcType="BIGINT" property="bookNumber"/>
    </resultMap>
    <insert id="addBook" keyProperty="bookId">
        insert into db_library.tb_books
            (book_name, book_msg, book_stock, book_number)
        values (#{bookName}, #{bookMsg}, #{bookStock}, #{bookNumber});
    </insert>
    <update id="updateBook" keyProperty="bookId">
        update db_library.tb_books
        set book_name = #{bookName},
            book_msg = #{bookMsg},
            book_stock = #{bookStock},
            book_number = #{bookNumber}
        where book_id = #{bookId};
    </update>
    <delete id="removeBook">
        delete
        from db_library.tb_books
        where book_id = #{bookId};
    </delete>
    <select id="selectBook" resultType="com.example.books.pojo.TbBook" parameterType="List">
        select *
        from db_library.tb_books;
    </select>
    <select id="selectBookByNumber" resultType="com.example.books.pojo.TbBook"
            parameterType="com.example.books.pojo.TbBook">
        select *
        from db_library.tb_books
        where book_number like #{bookNumber};
    </select>
    <select id="selectBookByName" resultType="com.example.books.pojo.TbBook"
            parameterType="com.example.books.pojo.TbBook">
        select *
        from db_library.tb_books
        where book_name like #{bookName};
    </select>
    <select id="selectBookById" resultType="com.example.books.pojo.TbBook"
            parameterType="com.example.books.pojo.TbBook">
        select *
        from db_library.tb_books
        where book_id = #{bookId};
    </select>

</mapper>