<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.books.mapper.UserMapper">
    <resultMap id="UserMapper" type="com.example.books.pojo.TbUser">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <id column="username" jdbcType="VARCHAR" property="username"/>
        <id column="password" jdbcType="VARCHAR" property="password"/>
        <id column="user_number" jdbcType="BIGINT" property="userNumber"/>
        <id column="classname" jdbcType="VARCHAR" property="classname"/>
    </resultMap>
    <insert id="registUser" keyProperty="userId">
        insert into db_library.tb_users
            (username, password, user_number, classname)
        values
            (#{username}, #{password}, #{userNumber}, #{classname});
    </insert>
    <update id="updateUser">
        update db_library.tb_users
        set
            username = #{username},
            password = #{password},
            user_number = #{userNumber},
            classname = #{classname}
        where user_id = #{userId}
    </update>
    <delete id="removeUser">
        delete
        from db_library.tb_users
        where user_id = #{userId}
    </delete>
    <select id="selectUserByName" resultType="com.example.books.pojo.TbUser">
        select *
        from db_library.tb_users
        where username
        like
        #{%username%}
    </select>
    <select id="selectUserByNumber" resultType="com.example.books.pojo.TbUser">
        select *
        from db_library.tb_users
        where user_number = #{user_number}
    </select>
    <select id="selectUserByClassName" resultType="com.example.books.pojo.TbUser">
        select *
        from db_library.tb_users
        where classname
        like
        #{%classname%}
    </select>
    <select id="selectUser" resultType="com.example.books.pojo.TbUser" parameterType="com.example.books.pojo.TbUser">
        select *
        from db_library.tb_users
        where username = #{username}
        and password = #{password};
    </select>

</mapper>